doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include inputs/text.jade
  body
    block content
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')